# Clés API Légifrance (portail PISTE)
PISTE_CLIENT_ID=xxxx
PISTE_CLIENT_SECRET=xxxx
JUDILIBRE_CLIENT_ID=xxxx
JUDILIBRE_CLIENT_SECRET=xxxx

# Hugging Face
HF_TOKEN=hf_xxxx
HF_USERNAME=Youcefffj
HF_DATASET_NAME=lexia-french-legal
HF_MODEL_NAME=lexia-ministral-8b
BASE_MODEL=mistralai/Ministral-8B-instruct

# Weights & Biases
WANDB_API_KEY=xxxx
WANDB_PROJECT=youcefffj-mistralhack

# Mistral API
MISTRAL_API_KEY=xxxx
